<link rel='stylesheet' href='/stylesheets/index.css'>

<section>
    <h1>Ticket Viewer</h1>
    <p>Search for a specific ticket by entering the ticket number or view all tickets</p>
    <div class="container">
        <form action="/ticket-info">
            <input type="text" name="id" placeholder="Enter Ticket Number">
            <button class="button-look">Find Ticket</button>
        </form>
        <a class="button-look" href="/ticket-list?link=https://roisin.zendesk.com/api/v2/tickets.json?per_page=25">View all tickets</a>
    </div>
</section>
