<h1>Ticket Viewer</h1>
<a href="/ticket-list">View all tickets</a>
<form action="/ticket-info">
    <input type="text" name="id" placeholder="Enter Ticket Number">
    <button>Search</button>
</form>
