<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket Viewer</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
      <a href="/"><img src="/media/logo.png" alt=""></a>
  </header>

  <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

  <%= yield %>

</body>
</html>