<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket Viewer</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
      <a href="/"><img src="/media/logo.png" alt=""></a>
  </header>

  <%= yield %>

</body>
</html>