<h1>Ticket <%=@ticket_object["ticket"]["id"]%></h1>

<p>Requester: <%=@ticket_object["ticket"]["requester_id"]%></p>
<p>Subject: <%=@ticket_object["ticket"]["subject"]%></p>
<p>Description: <%=@ticket_object["ticket"]["description"]%></p>

<a href="/ticket-list">Back to all tickets</a>
