section {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 27px;
    border-style: groove;
}




